/* ********** Global settings ********** */
QWidget
{
	font-family: "Segoe UI";
	font-size: 12px;
}

QDialog
{
	border: 0px;
}

QMainWindow::separator {
	background: rgb(128, 133, 137);
	width: 3;
	height: 3;
}

/*

QPushButton,
QDialogButtonBox QPushButton,
ButtonLabel
{
	border-image: url(:/button_normal) 4 5 6 5;
	border-top: 4px transparent;
	border-right: 5px transparent;
	border-bottom: 4px transparent;
	border-left: 5px transparent;
	padding-left:-1px;
	min-width: 6em;
	height: 16 px;
}
SearchResultForm QPushButton
{
	min-width: 62px;
}

QPushButton:hover,
QDialogButtonBox QPushButton:hover, 
ButtonLabel:hove
{
	border-image: url(:/button_hover) 4 5 6 5;
}

QPushButton:pressed,
QDialogButtonBox QPushButton:pressed,
ButtonLabel:pressed
{
	border-image: url(:/button_down) 4 5 6 5;
	padding-top:2px;
}

QPushButton:disabled,
QDialogButtonBox QPushButton:disabled,
ButtonLabel:disabled
{
	border-image: url(:/button_disable) 4 5 6 5;
	color: #8f8f8f;
}
*/

#mainToolBar
{
	border-bottom: 1px solid #5d6c7a;
	background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 #d4d4d5, stop:1 #ffffff);
}

MainToolBar QToolButton {
	border: 0px;
}

#SocialNetworksFrame QToolButton {
	border: 0px;
}

MainToolBar QLabel {
   color: rgb(95, 100, 104);
}

MainToolBar  #btnRingingCall[active="false"] {
	image: url(:/ringing_call.ico);
}

MainToolBar  #btnRingingCall[active="true"]{
	image: url(:/ringing_call_active.ico);
}

MainToolBar  #btnHangUp[active="false"] {
	image: url(:/hang_up.ico);
}

MainToolBar   #btnHangUp[active="true"]{
	image: url(:/hang_up_active.ico);
}
